.about-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: 3rem auto;
    background-color: #666666;
    padding: 1rem 3rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    color: #f5e1c8;
    
}
.about{

    width: 95%;
    border-right: 1px solid blanchedalmond;
    padding-right: 3rem;  
 
}

.skills-container{
    margin-top: 4rem;
    margin-left: 2rem;
   
    
}
.skills > li{
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
}
.icon{
    color:#33e1ed;
}

li i{
    text-align:center;
}
@media (max-width: 1270px) {
    .about-container {
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        text-align:center;
        justify-content: center;
      
    }
    .about{
        width: auto;
        border: none;
        padding: 0;
        text-align: center;
      
       
    }
    .skills{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }

    
    .skills-container{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align:center;
        justify-content: center;
    }

    .listing{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: auto;
        width:51%;
       
     
    }
 
}
@media (max-width: 800px){
    .about-container {
        background: none;
        margin: auto;
        box-shadow: none;
        width: fit-content;
        padding: 0 1rem;
        
    }
    .about{

        border: none;
        margin: auto;
        text-align: center;
      
       
    }
 
}