.about-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: 2rem auto 5rem auto;
    background-color: #666666;
    padding: 3rem 3rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    animation: grow 1.5s;
    
}

@keyframes grow {
    0% { transform: scale(.2); }
  100% { transform: scale(1); }
}
.about{
    width: 95%;
    border-right: 1px solid blanchedalmond;
    padding-right: 3rem;  
}



.skills-container{
    margin-top: 3rem;
    margin-left: 2rem;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}


.skills li{
    margin: 0 0 10px 0;
    gap:0.3rem;
    list-style: none;
    display: flex;
    
}
.icon{
    color:#33e1ed;
}

li i{
    text-align:center;
}
.listing{
    margin-left: 2rem;
}
@media (max-width: 1270px) {
    .about-container {
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        text-align:center;
        justify-content: center;
      
    }
    .about{
        padding: 0;
        border: none;
        text-align: center;
      
       
    }
    .skills{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }

    
    .skills-container{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align:center;
        justify-content: center;
    }

    .listing{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: auto;
        width:51%;
       
     
    }
 
}
@media (max-width: 800px){
    .about-container {
        background: none;
        box-shadow: none;
        width: fit-content;
        padding: 0;
        max-width: 90%;
        
        
    }
    .about{
        border: none;
        margin: auto;
        text-align: center;
    }
    .listing{
        gap: 0.5rem;
        padding: 0;
    }
    .skills-container{
        max-width: 90%;
    }
    .skills{
        padding: 0;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
 
}