.about-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: 5rem 15rem;
    background-color: rgb(81, 77, 74);
    padding: 6rem 3rem;
    border-radius: 5px;
    
}
.about{
    padding-right: 2rem;
    width: 80%;
    border-right: 1px solid blanchedalmond;
}
.skills-container{
    margin-top: 3rem;
    margin-left: 2rem;
    
}
.skills > li{
    margin: 0 0 10px 2px;
    display: flex;
    align-items: center;
    
   
    
}