
.page-adress:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid beige;
}

.material-symbols-outlined{
    width: 50px;
    height: 50px;
    margin:auto;

}


.contact-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
    animation: grow 1.5s;

}

@keyframes grow {
    0% { transform: scale(.2); }
  100% { transform: scale(1); }
}
.con-icon{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 4rem;
   
    
  
   
}
.con-icon > li >span{
    border-radius: 25% 10%;
    background-color: #BFA181;
    padding-top: 1rem;
    margin-top: 2rem;
    
}
.con-icon > li >p{
    margin-top: 2rem;
}

.mail{
    margin-top: 5rem;
}



@media (max-width: 800px){
    .con-icon{
        flex-direction: column;
        margin: auto;
        padding: 0;
        
    }
    .con-icon > li >span{
        margin: 0;
    }
    .mail{
        margin-top: 3rem;
    }

}
