.dropdown-menu {
    position: absolute;
    right: 1rem;
    top: 85px;
    background-color: #666666;
    z-index: 1;
    margin: 0 auto;
    list-style: none;
    backdrop-filter: blur(15px);
    transition-duration: .25s;



}

.toggle-btn:hover {
    cursor: pointer;
}



.dropdown-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

.dropdown-menu li span {
   font-size:large;
    color: beige;
 
} 

.dropdown-menu li a{
    text-decoration: none;
    
}

