.dropdown-menu {
    position: absolute;
    right: 0rem;
    top: 85px;
    z-index: 1;
    margin: 0;
    list-style: none;
    width: 95%;
    border-radius: 5px;
    z-index: 1;
    background: rgba(102, 102, 102, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(102, 102, 102, 0.58);
}

.toggle-btn:hover {
    cursor: pointer;
    color: #33e1ed;
}

.dropdown-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 1.5rem 0;

}

.dropdown-menu li span {
    font-size: large;
    color: beige;
    font-weight: 600;

}

.dropdown-menu li a {
    text-decoration: none;

}

.dropdown-menu li span:hover {
    color: #33e1ed;
}
