.dropdown-menu {
    position: absolute;
    right: 0;
    top: 5rem;
    margin: 0;
    list-style: none;
    width: 100%;
    height: fit-content;
    z-index: 2;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 2rem;

}

.toggle-btn:hover {
    cursor: pointer;
    color: #33e1ed;
}

.dropdown-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 3rem 0;


}

.dropdown-menu li span {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    border-radius: 20px;
}

.dropdown-menu li a {
    text-decoration: none;
}

