.mail{
    width: 600px;
    padding: 2rem;
    border-radius: 20px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
    }

    .form-control{
        width: 500px;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(245, 245, 234);
    }
    .btn-submit{
    
      background-color: #14beca;
      border-radius: 100px;
      color: beige;
      cursor: pointer;
      display: inline-block;
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;

    }
    
    .btn-submit:hover {
      box-shadow: #666666 0 -25px 18px -14px inset,#666666 0 1px 2px,#33e1ed 0 2px 4px,#666666 0 4px 8px;
      transform: scale(1.05) rotate(-1deg);
    }

    @media (max-width: 800px){
        .mail{
          width: 90%;
          padding: 1rem 0 ;
          
        }
        .form-control{
         width: 100%;
         
        }
    }
    