.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    height: 3rem;
    margin: 0;
    color: beige;
    background-color: #3e4144;
   
  
}



.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: beige;
    margin: 0;
    
}
.footer-icon a:hover{
    color:#33e1ed;
 
}


.footer-icon li {
    list-style: none;
   
}

.footer-icon a {
    color: beige;
   
}

@media (max-width: 800px){

    .copyright{
        display: none;
    }
    .footer-icon >p{
        display: none;
    }
    .footer-icon{
        margin-right: 1rem;
        margin-top: 0.3rem;
    }
    .footer-container{
       justify-content: end;
       height: 40px;
        

    }
}