.sepia{
    border-radius: 5px;
    filter: grayscale(80%);
    object-fit: contain;
}
.home-container{
    margin: 10% auto;
}
.me{
    margin: auto;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    color: beige;
   
}
@media (max-width: 1270px){

    .me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
}



@media (max-width: 800px){
    .me{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .sepia{
        
        width: 200px;
     
    }
}