.sepia{
    border-radius: 5px;
    filter: grayscale(80%);
    object-fit: contain;
  
    
}
.home-container{
    padding: 2rem ;
    margin-top: 3rem;
    animation: grow 1.5s;
}

@keyframes grow {
    0% { transform: scale(.2); }
  100% { transform: scale(1); }
}
.me{
    margin: 0 auto 3rem auto;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    padding: 0;
   
}




@media (max-width: 1020px){
   
    .me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 4rem;
        

    }
    .home-container{
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       max-width:fit-content;
    }
}



@media (max-width: 800px){
    .me{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: 2rem auto;
        max-width: 90%;
        
    }
    .sepia{
        width: 200px;
    }
    .welcome{
        margin-top: 1rem;
    }
    .home-container{
        padding: 0;
    }
  
}