.modal{
        color: #00ff00;
        width: 70%;
        background: rgba(118, 124, 130, 1) 0px 1px 10px;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(102, 102, 102, 0.97);
    
        z-index: 1;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.close {
    font-size: 45px;
    font-weight: 500;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top:0;
    right: 1rem;
    color: #ff3333;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

.modal-header{
    padding: 11rem ;
    margin:auto;
    
}
.modal-header span{
    font-size:60px;
}

@media (max-width: 800px){
    .modal{
        max-width: 70%;
        height: min-content;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: small;
        backdrop-filter: blur(20px);
        
     
     
    }
    
    
    .modal-content{
       flex-direction: column;
       width:fit-content;
    
        
    }
    .modal-header{
        padding: 5rem 4rem ;
        margin:auto;
        
    }
}

