body {
    margin: 0;
    padding: 0;
    background-color: #30363d;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #fff0db;
    scroll-behavior: smooth;
    

  }
  h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h3{
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
